version: "Compose Specification"

services:
    nginx:
        build:
            context: ./requirements/nginx
        depends_on:
            - wordpress
        ports:
            - "443:443"
        networks:
            - mynetwork
        restart: always
        volumes:
            - "alemafe_nginx:/var/www/html"
        container_name: nginx
        
    wordpress:
        build:
            context: ./requirements/wordpress
        depends_on:
            mariadb:
                condition: service_healthy
        networks:
            - mynetwork
        restart: always
        env_file:
            - .env
        volumes:
            - "alemafe_nginx:/var/www/html"
        container_name: wordpress
        
    mariadb:
        build:
            context: ./requirements/mariadb
        networks:
            - mynetwork
        restart: always
        volumes:
            - "db:/var/lib/mysql"
        env_file:
            - .env
        container_name: mariadb
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-u", "$MYSQL_USER", "-p$MYSQL_PASSWORD"]
            interval: 10s
            timeout: 5s
            retries: 5

    #BONUS:
    adminer:
        build:
            context: ./bonus/adminer
        depends_on:
            - wordpress
        networks:
            - mynetwork
        volumes:
            - "alemafe_nginx:/var/www/html"
        container_name: adminer
    
    ftp:
        build:
            context: ./bonus/ftp
        depends_on:
            - wordpress
        env_file:
            - .env
        networks:
            - mynetwork
        restart: always
        container_name: ftp
        volumes:
            - "alemafe_nginx:/ftp"
        ports:
            - "21:21"
            - "21100-21110:21100-21110"

    redis:
        build:
            context: ./bonus/redis
        networks:
            - mynetwork
        volumes:
            - "alemafe_nginx:/var/www/html"
        restart: always
        container_name: redis

    static_site:
        build:
            context: ./bonus/static_site
        networks:
            - mynetwork
        restart: always
        container_name: static_site

    cadvisor:
        build:
            context: ./bonus/cadvisor
        networks:
            - mynetwork
        restart: always
        container_name: cadvisor
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:ro
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /dev/disk/:/dev/disk:ro
        ports:
            - "7070:7000"


networks:
  mynetwork:

volumes:
    alemafe_nginx: 
        driver: local
        driver_opts:
            type: none
            o: bind
            device: /home/${SUDO_USER}/data/alemafe_nginx
    db:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: /home/${SUDO_USER}/data/db